.wallStick {
  color: white;
  display: flex;
  width: 265px;
  height: 100%;
  margin-left: 77px;
  padding-left: 15px;
  padding-right: 15px;
}

.blueStick {
  width: 28px;
  height: 250px;
  background-color: #07a9a9;
  margin-right: 20px;
}

