.firstLevel {
  font-size: 14px;
  margin: 0 1rem;
}

.itemList {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  list-style: none;
  cursor: pointer;
}

.itemList a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 1400px) {
  .firstLevel {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1260px) {
  .firstLevel {
    font-size: 10px;
  }
}