.rowList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 80%;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.addressBar {
  display: flex;
  padding-top: 3rem;
  max-width: 100%;
  flex-wrap: wrap;

}

.listItem {
  padding-right: 10px;
  margin-bottom: 0.5rem;
  text-align: left;
}

