.text {
  padding: 98px 20px 98px 20px;
  width: 500px;
}

.redList li {
  color: #f0f0f0;
  background-color: #e16967;
  margin: 0 0 1.2rem;
  padding: 0.5rem 0.75rem 30px;
  list-style: none;
  border-radius: 0.25rem;
}

.redList {
  margin-top: 3em;
}
