.listContainer {
  width: 25%;
  padding-right: 20px;
  padding-left: 20px;
}

.listItem {
  list-style: none;
  margin-bottom: 0.5rem;
  text-align: left;
}

.arrow {
  padding-right: 10px;
}

.socialMediaIcons {
  display: flex;
  flex-direction: row-reverse;
  z-index: 1;
  margin-top: 10px;
  margin-left: 0;
}

.textAlign {
  text-align: end;
}

.iconsShape {
  width: 20px;
  border-radius: 5px;
  background-color: white;
  margin-top: 5px;
}

.rowList {
  text-align: end;
}

ul {
  padding: 0px;
}

@media only screen and (max-width: 980px) {
  .listContainer {
    width: 50%;
  }
}

@media only screen and (max-width: 780px) {
  .listContainer {
    width: 100%;
  }
}

@media only screen and (max-width: 980px) {
  .socialMediaIcons {
    flex-direction: row;
  }
}

@media only screen and (max-width: 980px) {
  .rowList {
    display: flex;
  }
}

@media only screen and (max-width: 980px) {
  .socialMediaIcons {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 980px) {
  .textAlign {
    text-align: left;
  }
}