header {
  display: flex;
  background-color: #052b4b;
}

.mainMenu {
  display: flex;
  padding-top: 25px;
  padding-right: 3.5rem;
  color: white;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .mainMenu {
    display: none;
  }
}