footer {
  position: relative;
  color: white;
  margin-top: 100px;
  padding: 5rem 0;
  background-color: #052b4b;
}

.googleContainer {
  position: absolute;
  padding: 2rem;
  top: -85px;
  right: 0px;
  background-color: #052b4b;
  width: 30vw;
  height: 100px;
}
