.flexMid {
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
}

.center {
  justify-content: center;
}

.between {
  justify-content: space-between;
}

.default {
  justify-content: flex-start;
}