.flexMid {
  display: flex;
  flex-wrap: wrap;
}

.center {
  justify-content: center;
}

.between {
  justify-content: space-around;
}

.default {
  justify-content: flex-start;
}

@media only screen and (max-width: 980px) {
  .flexMid {
    justify-content: flex-start;
  }
}
