.whiteBtn {
  cursor: pointer;
  border-radius: 0.25rem;
  line-height: 1;
  border: none;
  font-size: 0.9rem;
  padding: 10px;
  background-color: transparent;
  color: white;
  border: 0.5px solid white;
  margin: 0 25px;
}

.black {
  color: black;
}
