.btnRed {
  background-color: #e16967;
  color: #f0f0f0;
  cursor: pointer;
  padding: 1.3rem 6rem;
  margin: 0 0 2rem;
  font-size: 1.25rem;
  border-radius: 0.25rem;
}

.btn-lg {
  padding: 1.3rem 10rem;
}