.btnRed {
  background-color: #e16967;
  color: #f0f0f0;
  cursor: pointer;
  padding: 1.1rem 3.5rem;
  margin: 0 0 2rem;
  font-size: 1.25rem;
  border-radius: 0.25rem;
}

.btn-lg {
  padding: 1.3rem 10rem;
}

@media only screen and ( max-width: 980px) {
  .btnRed {
    padding: 1rem 3rem;
  }
}

@media only screen and ( max-width: 600px) {
  .btnRed {
    padding: 1rem 1rem;
  }
}